<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<title>Update lesson</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">University</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/university-manager">Home</a></li>
					<li><a class="nav-link active" aria-current="page"
						href="/departments">Departments</a></li>
					<li><a class="nav-link active" aria-current="page"
						href="/groups">Groups</a></li>
					<li><a class="nav-link active" aria-current="page"
						href="/students">Students</a></li>
					<li><a class="nav-link active" aria-current="page"
						href="/teachers">Teachers</a></li>
					<li><a class="nav-link active" aria-current="page"
						href="/lessons">Lessons</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<br/>
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4" style="width: 35%">
				<h4 class="text-center">Create new lesson</h4>
				<form th:action="@{/lessons/{id}/update(id=${lesson.id})}" th:object="${lesson}" th:method="post" >
					<label for="name">Name</label> 
					<input class="form-control" aria-label="name"  type="text" th:field="*{name}" id="name">
					
					<label for="teachers">Teacher</label> 
						<select class="form-select" aria-label="teachers" th:field="*{teacher.id}" id="teacher">
			            <option th:each="teacher :${teachers}" th:value="${teacher.id}" th:text="${teacher.name + ' ' + teacher.lastName}"></option></select>
					
					<label for="groups">Group</label>
						<select class="form-select" aria-label="groups" th:field="*{group.id}" id="group">
            			<option th:each="group :${groups}" th:value="${group.id}" th:text="${group.name}"></option></select>
            			
            		<label for="duration">Duration</label>
						<select class="form-select" aria-label="duration" th:field="*{lessonDurationSecond}" id="duration">
						<option th:value="5400">90 min</option>
						<option th:value="2700">60 min</option></select>
					<label for="datetime">Date Time</label>
						<input type="datetime-local" id="datetime" name="datetime">
  					<div class="d-grid gap-2 col-6 mx-auto">
  						<button class="btn btn-primary" type="submit">Update</button>
					</div>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</body>